/* html,body,#root{
  min-height: 100%;
  margin:0;
} */

.App {
  min-height: 100dvh; /*This is very important to specify min-height here else the footer will not move to the bottom of the page. 100dvh means 100% of the dynamic viewport height, so it occupies 100% of the visible screen.*/
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2f384a;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main{
  display: flex;
  flex-direction: column;
  flex-grow: 1; /*This also very important to make the footer to move to bottom of page */
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(94, 18, 18);
}

.App-footer {
  background-color: #333c4d;
  min-height: 5vh;
  display: flex;
   align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
